<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>DH Heroes</title>
</head>
<body>
    <h1>Home</h1>
    <ul>
        <li> <a href="./babbage.html">Babbage</a> </li>
        <li><a href="/berners-lee.html">Berners-lee</a></li>
        <li><a href="./clarke.html">Clarke</a></li>
        <li><a href="./hamilton.html">Hamilton</a></li>
        <li><a href="./hopper.html">Hopper</a></li>
        <li><a href="./lovelace.html">Lovelace</a></li>
        <li><a href="./turing.html">Turing</a></li>
    </ul>
    <h2>Lorem ipsum dol Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat mollitia odit? Veritatis omnis ea similique, ab nam iure, quam facere eum vitae sequi accusantium nemo neque ullam illo mollitia? r sit amet, consectetur adipisicing elit. Fuga, laborum in? Magnam, quis totam doloremque nemo consequatur perferendis. Sit laboriosam voluptas eaque saepe ad iusto provident officiis nostrum aliquam nesciunt.</h2>
</body>
</html>
